---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.195.207.20/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.195.207.20",
          "city": "Philadelphia",
          "region": "Pennsylvania",
          "country": "US",
          "loc": "39.9487,-75.1593",
          "postal": "19107",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Tue, 10 Sep 2019 06:10:51 GMT
recorded_with: VCR 5.0.0
